table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
input,
button {
  margin: 5px 0;
  padding: 6px;
}
